
# directus service

# https://docs.directus.io/self-hosted/config-options.html#security
KEY=255d861b-5ea1-5996-9aa3-922530ec40b1
SECRET=6116487b-cda1-52c2-b5b5-c8022c45e263

# (see https://docs.directus.io/self-hosted/config-options#general)
PUBLIC_URL=http://localhost:8055
MAX_PAYLOAD_SIZE=2mb

# https://docs.directus.io/self-hosted/config-options.html#websockets
WEBSOCKETS_ENABLED=true

# https://docs.directus.io/self-hosted/config-options.html#admin-account
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin

# https://docs.directus.io/self-hosted/config-options.html#cache
CACHE_ENABLED=true
CACHE_STORE=redis

TELEMETRY=false

# https://docs.directus.io/self-hosted/config-options.html#redis
REDIS='redis://cache:6379'
# REDIS='redis://localhost:6379'  

# https://docs.directus.io/self-hosted/config-options.html#file-storage
STORAGE_LOCATIONS="local"

# database service (https://docs.directus.io/self-hosted/config-options.html#database) 
# DB_CONNECTION_STRING=
DB_CLIENT=pg
DB_HOST=database
# DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=directus
DB_USER=directus
DB_PASSWORD=directus
DB_SSL=false


# external Database connection info(neon) if not using docker database service.
# DB_CLIENT=pg
# DATABASE_CONNECTION_STRING=tobemodifi

# https://docs.directus.io/self-hosted/config-options.html#extensions
EXTENSIONS_AUTO_RELOAD=true


# Docker compose variables

# COMPOSE_PROJECT_NAME=directus
DOCKER_DIRECTUS_CONTAINER_NAME=directus
DOCKER_DIRECTUS_VERSION=10.5
DOCKER_DIRECTUS_FILES=./uploads
DOCKER_DIRECTUS_EXTENSIONS=./extensions
DOCKER_DIRECTUS_SNAPSHOTS=./snapshots

DOCKER_DIRECTUS_DB_CONTAINER_NAME=directus_db
DOCKER_DIRECTUS_DB_IMAGE=postgis/postgis
DOCKER_DIRECTUS_DB_VERSION=13-master
DOCKER_DIRECTUS_DB_FILES=./data

DOCKER_DIRECTUS_REDIS_CONTAINER_NAME=directus_redis

DOCKER_DIRECTUS_NETWORKNAME=directus
DOCKER_DIRECTUS_EXTERNAL_NETWORK=false